<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="../static/css/bootstrap-4.3.1/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/base.css">

  <title>{% block title %}{% endblock %}</title>
</head>

<body class="text-center">
  {% block body %}{% endblock %}

  <script src="../static/js/jquery-3.4.1/jquery-3.4.1.min.js"></script>
  <script src="../static/js/popper-1.15.0/popper.min.js"></script>
  <script src="../static/js/bootstrap-4.3.1/bootstrap.min.js"></script>
</body>

</html>